.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__title h3 {
  font-size: 21px;
  line-height: 10px;
  font-weight: bold;
}

.advantages__list p {
  font-size: 14px;
  line-height: 21px;
}

.advantages__item--fast1,
.advantages__item--fast3 {
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 195px;
}

.advantages__item--fast2 {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 260px;
}

.advantages__item--fast4 {
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 260px;
}

.advantages__item--fast5,
.advantages__item--fast6,
.advantages__item--fast7 {
  background-color: #eeeeee;
  min-height: 267px;
  padding: 0;
  margin: 0;
}

ol.wrapper1 {
  list-style: none;
  padding: 0;
}
