.definition {
  min-height: 178px;
  line-height: 24px;
  padding-bottom: 7px;
  padding-top: 40px;
}

.definition__title {
  display: flex;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 260px;
  margin: auto;
  padding-bottom: 29px;
}

.definiton__title--photo {
  padding-top: 19px;
  line-height: 26px;
  text-align: center;
}

.definition__text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  width: 260px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .definition {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    min-height: 188px;
  }

  .definition__title {
    font-size: 21px;
    width: 460px;
    line-height: 26px;
  }

  .definiton__title--photo {
    font-size: 30px;
    line-height: 26px;
    padding-top: 35px;
  }

  .definition__text {
    font-size: 14px;
    line-height: 24px;
    width: 520px;
  }
}

@media (min-width: @desktop-width) {
  .definition {
    text-align: center;
  }

  .definiton__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding-top: 27px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .definition__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    padding-top: 13px;
    padding-left: 60px;
    padding-right: 20px;
  }
}
