.definition {
  line-height: 24px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 28px;
}

.definition__title {
  font-size: 18px;
  line-height: 26px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.definition__text {
  font-size: 14px;
  line-height: 24px;
  width: 84%;
  margin: auto;
  margin-top: 25px;
}

@media (min-width: @tablet-width) {
  .definition {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    min-height: 188px;
  }

  .definition__title {
    font-size: 21px;
    width: 460px;
    line-height: 26px;
  }

  .definiton__title--photo {
    font-size: 30px;
    line-height: 26px;
    padding-top: 35px;
  }

  .definition__text {
    font-size: 14px;
    line-height: 24px;
    width: 520px;
  }
}

@media (min-width: @desktop-width) {
  .definition {
    text-align: center;
  }

  .definiton__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding-top: 27px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .definition__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    padding-top: 13px;
    padding-left: 60px;
    padding-right: 20px;
  }
}
