.impression {
  color: #000000;
  text-align: center;
  margin-bottom: 28px;
}

.impression__title {
  margin-bottom: 25px;
}

.impression__input {
  width: 55px;
  height: 55px;
  color: #000000;
  margin-right: 21px;
}

.impression__radio {
  font-size: 18px;
  font-weight: 600;
  text-transform: initial;
}


.impression__row {
  display: flex;
  align-items: center;
  width: 277px;
  margin: auto;
  margin-bottom: 14px;
}

.impression__input:focus {
  background-image: url("../img/circle.png");
  background-size: 10%;
  filter: grayscale(100%);
}

.impression__input:visited {
  background-image: url("../img/circle.png");
  background-size: 10%;
  filter: grayscale(100%);
}

.impression__svg {
  fill: #000000;
}
