.list-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

.list-wrapper__block {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .list-wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    min-height: 247px;
    margin-top: -4px;
  }

  .list-wrapper__block {
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .list-wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
  }
}
