.main-album {
  display: block;
  margin: 0 auto;
}

.main-album__tablet,
.main-album__desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-album__tablet {
    display: block;
    width: 650px;
    margin: 0 auto;
  }

  .main-album__mobile,
  .main-album__desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-album__desktop {
    display: block;
    width: 1200px;
    margin: 0 auto;
  }

  .main-album__mobile,
  .main-album__tablet {
    display: none;
  }
}
