.main-nav {
  font-size: 18px;
}

.main-nav--wrapper {
  background-color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .main-nav--wrapper {
    width: 696px;
    margin: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav--wrapper {
    width: 1200px;
    margin: auto;
    background-color: #ffffff;
  }
}
