.option-list--wrapper {
  list-style: none;
  padding: 0;
  min-height: 400px;
}

.option-list__title {
  color: #333333;
  font-size: 20px;
  padding-left: 30px;
  line-height: 15px;
  margin: 0;
}

.option-list__item {
  font-size: 14px;
  line-height: 21px;
  padding-left: 70px;
  margin: 0;
}

.option-list__svg {
  width: 11%;
}

@media (min-width: @tablet-width) {
  .option-list,
  .option-list--number {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
  }

  .option-list--wrapper {
    width: 768px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    min-height: 330px;
  }

  .option-list--number {
    order: 2;
  }

  .option-list__title {
    padding: 0;
    text-align: end;
  }

  .option-list__svg {
    width: 100%;
    text-align: center;
    padding-left: 37px;
    padding-top: 58px;
    padding-bottom: 35px;
  }

  .option-list__item {
    padding: 45px;
    width: 163px;
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .option-list {
    display: flex;
  }

  .option-list--wrapper {
    width: 1035px;
    justify-content: space-between;
  }

  .option-list__item {
    padding-top: 10px;
    width: 360px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
