.option-list {
  margin: 0;
  padding: 0;
  padding-top: 9px;
}

.option-list__item {
  padding-top: 15px;
  padding-bottom: 6px;
}

.option-list__title {
  color: #333333;
  font-size: 18px;
  margin: 0;
  line-height: 26px;
  margin-left: 70px;
}

.option-list__title--house {
  margin-top: 13px;
}

.option-list__svg {
  display: block;
  position: absolute;
  left: 20px;
  width: 12%;
  fill: #81b3d2;
  margin-top: -13px;
}

.option-list__text {
  font-size: 14px;
  line-height: 23px;
  margin-left: 70px;
  width: 70%;
}

@media (min-width: @tablet-width) {
  .option-list,
  .option-list--number {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
  }

  .option-list--wrapper {
    width: 768px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    min-height: 330px;
  }

  .option-list--number {
    order: 2;
  }

  .option-list__title--house,
  .option-list__title--gift,
  .option-list__title--food {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-left: 94px;
    font-size: 21px;
    margin-top: -8px;
    line-height: 26px;
  }

  .option-list__text {
    padding: 45px;
    width: 163px;
  }
}

@media (min-width: @desktop-width) {
  .option-list {
    display: flex;
  }

  .option-list--wrapper {
    width: 1035px;
    justify-content: space-between;
  }

  .option-list__text {
    width: 360px;
  }
}
