.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__image--tablet,
.page-header__image--desktop {
  display: none;
}

.page-header__cross {
  margin-right: 0;
  position: absolute;
  left: 278px;
  margin-top: -30px;
}

.page-header__burger {
  margin-top: 15px;
  margin-left: 276px;
}

.page-header__image--mobile {
  order: 3;
  margin-top: -57px;
  padding-left: 110px;
}

@media (min-width: @tablet-width) {
  .page-header__svg,
  .page-header__btn,
  .page-header__cross,
  .page-header__image--mobile,
  .page-header__image--desktop {
    display: none;
  }

  .page-header__image--tablet {
    display: block;
    z-index: 10;
    margin-top: -5px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__svg,
  .page-header__btn {
    display: none;
  }

  .page-header__image--desktop {
    display: block;
    width: 198px;
    z-index: 10;
  }

  .page-header__image--tablet,
  .page-header__image--mobile {
    display: none;
  }
}
