.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    width: 650px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    display: flex;
    width: 1035px;
    margin: auto;
    justify-content: space-between;
  }
}

ul.social__list {
  min-width: 260px;
  list-style: none;
}

a.social__link {
  background-color: #81b3d2;
  padding: 15px;
  border: 1px solid #81b3d2;
  margin-right: 6px;
  text-decoration: none;
}
