.qualities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.qualities-list__number {
  font-size: 14px;
  line-height: 21px;
}

.qualities-list__item--one,
.qualities-list__item--three {
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 195px;
}

.qualities-list--wrapper {
  margin: 0;
  padding: 0;
}

.qualities-list__title {
  font-size: 21px;
  line-height: 10px;
  font-weight: bold;
}

.qualities-list__item--two {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 265px;
}

.qualities-list__item--four {
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 260px;
}

.qualities-list__item--five,
.qualities-list__item--six,
.qualities-list__item--seven {
  background-color: #eeeeee;
  min-height: 267px;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .qualities-list__item--one,
  .qualities-list__item--three {
    width: 256px;
  }

  .qualities-list__item--three {
    order: 2;
  }

  .qualities-list__item--two {
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
  }

  .qualities-list__item--four {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
    margin: 0;
  }

  .qualities-list--wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .qualities-list__item--five,
  .qualities-list__item--six,
  .qualities-list__item--seven {
    width: 256px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
  }

  .qualities-list__item--one,
  .qualities-list__item--three {
    width: 400px;
  }

  .qualities-list__item--three {
    order: 2;
  }

  .qualities-list__item--two {
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
  }

  .qualities-list__item--four {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
    margin: 0;
  }

  .qualities-list__item--five,
  .qualities-list__item--six,
  .qualities-list__item--seven {
    order: 2;
    width: 400px;
  }
}
