.qualities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.qualities-list__title {
  margin: 0;
}

.qualities-list__description {
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  width: 270px;
  margin: auto;
  margin-bottom: 46px;
}

.qualities-list__item--one,
.qualities-list__item--three {
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 196px;
}

.qualities-list__item--one {
  min-height: 214px;
}

.qualities-list__title--one,
.qualities-list__title--three {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.qualities-list__number--one,
.qualities-list__number--three {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 22px;
  padding: 0;
}

.qualities-list__number--five,
.qualities-list__number--six,
.qualities-list__number--seven {
  margin-bottom: 22px;
  margin-top: 22px;
}

.qualities-list--wrapper {
  margin: 0;
  padding: 0;
}

.qualities-list__item--two {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 260px;
}

.qualities-list__item--three {
  min-height: 191px;
}

.qualities-list__item--four {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 261px;
}

.qualities-list__item--five,
.qualities-list__item--six,
.qualities-list__item--seven {
  background-color: #eeeeee;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.qualities-list__number--five {
  margin-top: 13px;
}

.qualities-list__title--five {
  margin: 0;
  padding-top: 28px;
  text-align: center;
  line-height: 21px;
  padding-left: 21px;
  padding-right: 19px;
}

.qualities-list__title--six {
  padding-top: 10px;
}

.qualities-list__description--seven {
  margin-top: 22px;
  line-height: 21px;
  font-size: 14px;
  padding-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .qualities-list__item--one,
  .qualities-list__item--three {
    width: 256px;
  }

  .qualities-list__title {
    text-align: center;
    padding: 0;
    width: 183px;
    font-size: 21px;
    line-height: 26px;
    padding-top: 20px;
    padding-left: 35px;
  }

  .qualities-list__title--three {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 158px;
    margin: auto;
  }

  .qualities-list__title--five,
  .qualities-list__title--six,
  .qualities-list__title--seven {
    font-size: 21px;
    text-align: center;
    line-height: 26px;
    width: 110px;
    margin: auto;
    padding: 0;
  }

  .qualities-list__number--one {
    font-size: 14px;
    line-height: 21px;
  }

  .qualities-list__description,
  .qualities-list__description--six,
  .qualities-list__description--seven {
    font-size: 14px;
    line-height: 21px;
    width: 168px;
    margin: auto;
  }

  .qualities-list__item--three {
    order: 2;
  }

  .qualities-list__item--two {
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
    min-height: 254px;
  }

  .qualities-list__item--four {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
    margin: 0;
  }

  .qualities-list--wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .qualities-list__item--five,
  .qualities-list__item--six,
  .qualities-list__item--seven {
    width: 256px;
  }

  .qualities-list__title--one {
    font-size: 21px;
    padding: 20px;
    padding-top: 47px;
    text-align: center;
    line-height: 26px;
  }

  .divide--seven {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .qualities-list--wrapper {
    width: 1200px;
    margin: auto;
  }

  .qualities-list__description,
  .qualities-list__description--six,
  .qualities-list__description--seven {
    margin: auto;
    order: 3;
    width: 300px;
  }

  .qualities-list__number--one {
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-left: 168px;
  }

  .qualities-list__item--one,
  .qualities-list__item--three {
    width: 400px;
  }

  .qualities-list__item--three {
    order: 2;
  }

  .qualities-list__item--two {
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
  }

  .qualities-list__item--four {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
    margin: 0;
  }

  .qualities-list__title--five,
  .qualities-list__title--six,
  .qualities-list__title--seven {
    width: 130px;
    font-size: 21px;
    text-align: center;
    line-height: 26px;
    margin: auto;
  }

  .qualities-list__item--five,
  .qualities-list__item--six,
  .qualities-list__item--seven {
    order: 2;
    width: 400px;
  }

  .qualities-list__title--one {
    text-align: center;
    padding: 0;
    width: 183px;
    font-size: 21px;
    line-height: 26px;
    margin-top: 40px;
  }

  .qualities-list__title--three {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 140px;
    margin: auto;
  }

  .qualities-list__number--three {
    width: 168px;
    margin: auto;
  }
}
