.qualities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.qualities-list__item {
  text-align: center;
  color: #ffffff;
  padding-top: 56px;
  min-height: 150px;
}

.qualities-list__title {
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.qualities-list__description {
  font-size: 14px;
  text-align: center;
  line-height: 21px;
  width: 83%;
  margin: auto;
}

.qualities-list__photo {
  min-height: 260px;
}

.qualities-list__item--one,
.qualities-list__item--three {
  background-color: #81b3d2;
}

.qualities-list__item--three {
  min-height: 135px;
  margin: 0;
}

.qualities-list__item--one {
  clip-path: polygon(50% 6%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

.qualities-list__title--three {
  margin-top: -15px;
}

.qualities-list__number--one,
.qualities-list__number--three {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
}

.qualities-list__number--three {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 10px;
}

.qualities-list__photo--two {
  background-image: url("../img/main-city-mobile@1x.jpg");
}

.qualities-list__photo--four {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
}

.qualities-list__item--five,
.qualities-list__item--six,
.qualities-list__item--seven {
  color: #333333;
  padding-top: 25px;
}

.qualities-list__title--five {
  margin: 0;
  text-align: center;
  line-height: 21px;
  margin-bottom: 11px;
}

.qualities-list__number--five {
  margin-bottom: 17px;
}

.qualities-list__item--six {
  background-color: #eeeeee;
}

.qualities-list__title--six {
  margin-bottom: 14px;
}

.qualities-list__description--six {
  width: 80%;
}

.qualities-list__item--seven {
  min-height: 130px;
  padding-top: 13px;
}

.qualities-list__title--seven {
  margin-bottom: 12px;
}

.qualities-list__description--seven {
  margin-top: 17px;
  width: 80%;
}

.qualities-list__number--seven {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .qualities-list__item--one,
  .qualities-list__item--three {
    width: 256px;
  }

  .qualities-list__title {
    text-align: center;
    padding: 0;
    width: 183px;
    font-size: 21px;
    line-height: 26px;
  }

  .qualities-list__title--three {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 158px;
    margin: auto;
  }

  .qualities-list__title--five,
  .qualities-list__title--six,
  .qualities-list__title--seven {
    font-size: 21px;
    text-align: center;
    line-height: 26px;
    width: 110px;
    margin: auto;
    padding: 0;
  }

  .qualities-list__number--one {
    font-size: 14px;
    line-height: 21px;
  }

  .qualities-list__description,
  .qualities-list__description--six,
  .qualities-list__description--seven {
    font-size: 14px;
    line-height: 21px;
    width: 168px;
    margin: auto;
  }

  .qualities-list__item--three {
    order: 2;
  }

  .qualities-list__item--two {
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
    min-height: 254px;
  }

  .qualities-list__item--four {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
    margin: 0;
  }

  .qualities-list--wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .qualities-list__item--five,
  .qualities-list__item--six,
  .qualities-list__item--seven {
    width: 256px;
  }

  .qualities-list__title--one {
    font-size: 21px;
    text-align: center;
    line-height: 26px;
  }

  .divide--seven {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .qualities-list--wrapper {
    width: 1200px;
    margin: auto;
  }

  .qualities-list__description,
  .qualities-list__description--six,
  .qualities-list__description--seven {
    margin: auto;
    order: 3;
    width: 300px;
  }

  .qualities-list__number--one {
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-left: 168px;
  }

  .qualities-list__item--one,
  .qualities-list__item--three {
    width: 400px;
  }

  .qualities-list__item--three {
    order: 2;
  }

  .qualities-list__item--two {
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
  }

  .qualities-list__item--four {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 800px;
    margin: 0;
  }

  .qualities-list__title--five,
  .qualities-list__title--six,
  .qualities-list__title--seven {
    width: 130px;
    font-size: 21px;
    text-align: center;
    line-height: 26px;
    margin: auto;
  }

  .qualities-list__item--five,
  .qualities-list__item--six,
  .qualities-list__item--seven {
    order: 2;
    width: 400px;
  }

  .qualities-list__title--one {
    text-align: center;
    padding: 0;
    width: 183px;
    font-size: 21px;
    line-height: 26px;
    margin-top: 40px;
  }

  .qualities-list__title--three {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 140px;
    margin: auto;
  }

  .qualities-list__number--three {
    width: 168px;
    margin: auto;
  }
}
