body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}


@media (min-width: @tablet-width) {
  .wrapper {
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
}
