.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.site-list__item--active {
  position: relative;
}

.site-list__item,
.site-list__item--active,
.site-list__item--second {
  display: block;
  background-color: #81b3d2;
  list-style: none;
  padding: 8px;
  font-size: 18px;
  line-height: 40px;
}

.site-list__item--burger {
  background-color: #ffffff;
  min-height: 55px;
}

.site-list__link {
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.site-list-svg {
  postion: block;
  position: absolute;
  top: 10px;
  left: 280px;
}

.site-list__item--logo {
  order: 3;
  list-style: none;
  position: relative;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    width: 768px;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
  }

  .site-list__link {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
  }

  .site-list__item--burger {
    display: none;
  }

  .site-list__item,
  .site-list__item--active,
  .site-list__item--second {
    background-color: #ffffff;
    border: none;
    height: 30px;
    padding: 0;
    margin-top: 9px;
  }

  .site-list__item {
    order: 4;
  }

  .site-list__item--second {
    order: 1;
  }

  .site-list__item--logo {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .site-list__link {
    color: #000000;
    margin: 0;
    padding: 0;
  }

  .site-list__item--active,
  .site-list__item--second,
  .site-list__item {
    color: #ffffff;
  }

  .site-list__item {
    order: 4;
  }

  .site-list__item--second {
    order: 1;
  }

  .site-list__item--logo {
    order: 2;
    z-index: 10px;
  }

  .site-list__item--burger {
    display: none;
  }
}
