.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.social__link--twitter,
.social__link--facebook,
.social__link--youtube {
  background-color: #81b3d2;
  padding: 12px;
  border: 1px solid #81b3d2;
  margin-right: 6px;
  text-decoration: none;
}
