.social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social__link {
  display: block;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  margin-right: 4px;
  text-decoration: none;
  width: 45px;
  height: 33px;
  text-align: center;
  padding-top: 12px;
}
